.icon {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
}

.checkleft {
  color: white;
  /* background-color: black; */
  padding: 10px;
  width: 300px;
  /* margin-left: 150px;
  margin-top: 60px; */
}
.top {
  padding: 2%;
  /* border: 1px solid black; */
}
p {
  margin: 7px;
}
h3 {
  margin: 6px;
}
/* .dsa {
  margin-left: 450px;
  margin-top: -210px;
  border: 1px solid black;
} */

.down {
  margin-left: 880px;
  margin-top: 130px;
}
/* .cartProduct { */
/* border: 1px solid black; */
/* } */
.cartProduct1 {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
}
.cartProductImg {
  width: 300px;
  height: 300px;
}
.cartProductImg img {
  width: 98%;
}
.rightsideup {
  margin-top: -15%;
  /* border: 1px solid black; */
}
