.icon {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
}
.pant {
  width: 250px;
  height: 200px;
  margin-left: 150px;
}
.checkleft {
  color: white;
  background-color: black;
  padding: 10px;
  width: 300px;
  margin-left: 150px;
  margin-top: 60px;
}
.rightsideup {
  margin-left: 870px;
  margin-top: -500px;
}
.top {
  margin-top: 40px;
  margin-left: 150px;
}
p {
  margin: 7px;
}
h3 {
  margin: 6px;
}
.dsa {
  margin-left: 450px;
  margin-top: -210px;
}
.down {
  margin-left: 880px;
  margin-top: 130px;
}
