#logo {
  margin-left: 50px;
  margin-top: 15px;
}
#navbarSupportedContent {
  margin-left: 150px;
  margin-top: 30px;
}
#search {
  margin-top: 30px;
}
.logo {
  margin-left: 20px;
}

#block {
  background-color: black;
  width: 100%;
  height: 30px;
  padding: 5px;
}
#block > div {
  color: white;
}
#inp {
  background-color: rgb(233, 236, 239);
  padding: 2px;
}
.tags {
  float: right;
  margin-right: 20px;
  color: rgb(96, 96, 96);
  text-decoration: none;
  font-size: 15px;
}
