.h11 {
  margin-left: 140px;
  margin-top: 10px;
}
.h41 {
  margin-left: 150px;
}

.p1 {
  margin-left: 150px;
}
#input1 {
  width: 400px;
  padding: 10px;
  margin: 10px;
  margin-left: 150px;
}
.button111 {
  margin-left: 150px;
  color: white;
  background-color: black;
  padding: 10px;
  width: 300px;
}
.second {
  width: 170px;
  margin-left: 150px;
}
.third {
  width: 170px;
  margin-left: 25px;
}
.rightsideup {
  margin-left: 870px;
  margin-top: -530px;
}
.rightsidedown {
  margin-left: 870px;
  margin-top: 120px;
}
.img111 {
  width: 80px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}
#zoom {
  text-decoration: none;
  color: white;
}
.hh3 {
  margin-top: 40px;
}
.pp1 {
  margin-left: 150px;
}
.hh4 {
  margin-left: 150px;
}
