.container {
  text-align: left;
  margin-left: 10px;
  /* display: block */
  display: flex;
  flex-direction: column;
}

.para {
  margin-top: -40px;
}

/* .form {
    margin-top: 150px;
    margin-right: 400px;
  } */

#email,
#password {
  width: 90%;
  height: 40px;
  margin-top: 20px;
}

button {
  color: white;
  background-color: black;
  width: 30%;
  height: 40px;
  margin-top: 10px;
}

#checkbox1,
#checkbox2,
#checkbox3 {
  width: 25px;
  height: 25px;
  border: 5px solid grey;
  border-width: 4px;
}
