.img_5 {
  position: absolute;
  margin-top: -400px;
  margin-left: -600px;
  width: 300px;
  height: 100px;
}
.text_5 {
  position: absolute;
  text-align: left;
  margin-top: -290px;
  margin-left: 75px;
  color: white;
  font-weight: 600;
}
.butt_5 {
  position: absolute;
  float: left;
  padding: 10px;
  background-color: white;
  box-shadow: white;
  border: 1px solid rgb(170, 168, 170);
  margin-top: -230px;
  margin-left: -600px;
  box-shadow: 2px 2px 2px white;
}
